/* Format all  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* making the jumotron fit my page */
.jumbotron {
    text-align: center;
    border-bottom: 2px solid slategrey;
    padding-bottom: 1%;
    padding-top: 1%;
}

/* Adding an image to the background for some flare- this applies to the whole thing*/
body {
    background-image: url(https://jooinn.com/images/abstract-background-278.jpg);
    line-height: 1;
}

/* Format the container for the hourly break down*/
.container {
    max-width: 1000px;
    margin: auto;
    align-self: auto;
}

/* This is the save button on the hour by hour planner */
#button-addon1 {
    background-color: slategrey;
    color: linen;
    height: 57px; 
    text-align: center;
}

/* Formatting of each rows time block- this is the whole row where the hour, input, etc. all fall into */
#indRow {
    margin-top: 1%;
    border-radius: 5px;
    height: 70px; 
    padding-bottom: 1%;
    padding-top: 1%;
  }

/* Formatting the hours column */
#hourlyBlock {
    text-align: left;
    background-color: grey;
    color: linen;
    font-size: large;
    font-weight: bold;
}

/* Formatting the input column */
#inputArea {
    margin-top: auto;
}

/* format for if the time is in the past or future and clean up those blocks formatting*/


.past { 
    padding-top: 1%;
    cursor: pointer;
    background-color: rgb(172, 110, 110);
    color: linen;
}

.present {
    padding-top: 1%;
    background-color: linen;
    cursor: pointer;
}

.future {
    padding-top: 1%;
    background-color: #CFF061;
    cursor: pointer;
}

