/* Format all  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* making the jumotron fit my page */
.jumbotron {
    text-align: center;
    border-bottom: 2px solid slategrey;
}
/* Adding an image to the background for some flare */

body {
    background-image: url(https://jooinn.com/images/abstract-background-278.jpg);
    line-height: 1;
}

/* Format the container for the hourly break down*/
.container {
    max-width: 800px;
    margin: auto;
}

/* .colHour {} */

/* Each hour might have its own formatting ID */
/* #sevenAM  {} */

button {
    background-color: slategrey;
}

/* Formatting of each rows time block */
.time-block{
    text-align: center;
    border-radius: 15px;
    height: 50px;
  }

/* formatting of the hours  */
.colHour {
    color: #000000;
    border-top: 2px dashed slategrey;
  }

/* format for if the time is in the past or future */

.past { 
    background-color: rgb(172, 110, 110);
    color: linen;
}

.present {
    background-color: linen;
}

.future {
    background-color: green;
    color: linen;
}

